/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: #fff;
    i {
        font-size: 20px;
        color: $primary-blue;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }
    h6 {
        padding: 0 0 0 60px;
        font-weight: 600;
        color: #4d4d4d;
        font-weight: bold;
    }
    p {
        padding: 0 0 0 60px;
        margin-bottom: 0;
        font-size: 14px;
        color: #555974;
    }
}
  
  .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
    .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: left;
        padding: 15px;
        font-weight: 600;
    }
    textarea {
        padding: 10px 12px;
    }
    .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }
    .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }
    input {
        height: 44px;
    }
  }

  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    // border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  