.direct {
    a.btn-outline-blue {
        position: absolute;
        bottom: 10%
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 1200px) {
    .direct {
        a.btn-outline-blue {
            position: relative !important;
            bottom: 0;
        }
    }
}