/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  // padding-top: 80px;
  .content h3 {
    font-weight: 600;
    font-size: 26px;
  }

  .content ul {
    list-style: none;
    padding: 0;
    li {
      padding-left: 28px;
      position: relative;
    }

    i {
      position: absolute;
      left: 0;
      top: -2px;
      font-size: 16px;
      color: #00c3ff;
      line-height: 1;
    }
  }
}
  
.about .content ul li + li {
  margin-top: 10px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .quote-icon-left, .about .quote-icon-right {
  color: #00c3ff;
  font-size: 26px;
}
  