$maxWidth: 960px;
$minTablet: 767px;

@mixin media($size) {
	@if $size == 'tabletUpwards' {@media screen and ( min-width : $minTablet ) { @content; }}
}

.comparison-slider-wrapper {
	position: relative;
	width: 100%;
	margin: 20px 0;
	background-color: white;

	.comparison-slider {
		position: relative;
		width: 100%;
		margin: 0;
		border: 5px white solid;
		box-sizing: border-box;
		 img {
			width: 100%;
			// height: auto;
			height: 100%;
			object-fit: cover;
			display: block;
		}

		.overlay {
			// display: none;
			// @include media('tabletUpwards') {
			// 	display: block;
			// }
			position: absolute;
			width: 130px;
			bottom: 20px;
			right: 20px;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.4);
			padding: 10px;
			box-sizing: border-box;
			color: #DDD;
			border-radius: 25px;
			@media (max-width: 992px) {
				padding: 5px;
				font-size: 15px;
				width: 100px;
			}
			@media (max-width: 575px) {
				padding: 3px;
				font-size: 10px;
				width: 80px;
				bottom: 10px;
			}
		}

		.resize {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 50%;
			overflow: hidden;
			> img {
				display: block;
			}
			.overlay {
				right: auto;
				left: 20px;
				text-align: center;
			}
		}

		.divider {
			position: absolute;
			width: 2px;
			height: 100%;
			background-color: rgba(256, 256, 256, 0.8);
			left: 50%;
			top: 0;
			bottom: 0;
			margin-left: -1px;
			cursor: ew-resize;
			&:before {
				content: "";
				position: absolute;
				width: 40px;
				height: 40px;
				left: -19px;
				top: 50%;
				margin-top: -10px;
				background-color: white;
				transform: rotate(45deg);
				transition: all 0.1s ease-in-out;
                border-radius: 50%;
			}
			&:after {
				content: "";
				position: absolute;
				width: 35px;
				height: 35px;
				left: -15px;
				top: 50%;
				margin-top: -6px;
				background-color: white;
				transform: rotate(45deg);
				transition: all 0.1s ease-in-out;
                border-radius: 50%;
			}
			&.draggable{
				&:before {
					width: 40px;
					height: 40px;
					left: -19px;
					margin-top: -10px;
				}
				&:after {
					width: 30px;
					height: 30px;
					left: -14px;
					margin-top: -5px;
					background-color: #555;
				}
			}
			.handle {
				width: 40px;
				height: 40px;
				background: white;
				text-align: center;
				border-radius: 50%;
				position: absolute;
				top: calc(50% - 10px);
				z-index: 2;
				left: -19px;
				&:before {
					content: "";
					border: 6px inset transparent;
					position: absolute;
					top: 51%;
					margin-top: -6px;
					border-right: 6px solid #4c4c4c;
					/* left: 50%; */
					margin-left: -19px;
				}
				&:after {
					content: "";
					border: 6px inset transparent;
					position: absolute;
					top: 51%;
					margin-top: -6px;
					border-left: 6px solid #4c4c4c;
					margin-left: 6px;
				}
			}

		}
	}

}

.masonry { /* Masonry container */
	-webkit-column-count: 3;
	-moz-column-count:3;
	column-count: 3;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	  padding: 0;
	  -moz-column-gap: 1.5em;
	  -webkit-column-gap: 1.5em;
	  column-gap: 1.5em;
	  font-size: .85em;
  }
  .masonry .item {
	display: inline-block;
	width: 100%;
	  -webkit-transition:1s ease all;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  }
//   .masonry img{max-width:100%;}
  
  @media only screen and (max-width: 575px) {
	  .masonry {
		  -moz-column-count: 1;
		  -webkit-column-count: 1;
		  column-count: 1;
	  }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 768px){
	  .masonry {
		  -moz-column-count: 2;
		  -webkit-column-count: 2;
		  column-count: 2;
	  }
  }
  @media only screen and (min-width: 769px) and (max-width: 1200px){
	  .masonry {
		  -moz-column-count: 2;
		  -webkit-column-count: 2;
		  column-count: 2;
	  }
  }
  @media only screen and (min-width: 1201px) {
	  .masonry {
		  -moz-column-count: 2;
		  -webkit-column-count: 2;
		  column-count: 2;
	  }
  }