#divsubmit input {
    background-color: #fd2f8c;
    color: #fff;
}
#purchaseInfoArea {
    background-color: #fd2f8c;
}

#divsubmit input:hover {
    background-color: #ffffff;
    opacity: .9;
    color: #fd2f8c;
    border: 1px solid;
}
