/*  Layala BBW Code  */


body { 
	font-family: Helvetica, sans-serif; background: #fff; overflow-x: hidden; 
	/*carasmo's comment https://github.com/twbs/bootstrap/issues/10711*/ 
}

h1, h2, h3, h4, h5, h6 { font-family: Georgia, serif; margin-bottom: 20px; }

.templatemo-logo { margin: 12px; }

.thumbnail { border-radius: 20px; width:277px; display: inline-block;	-webkit-transition: none; transition: none; }

.btn { border-radius: 10px; }

 
.btn-primary {  background-color: white; border-color: white; color:gray; } 
.btn-primary:hover, .btn-primary:focus { background-color: #e91e62; border-color: #e91e62; }

.navbar { border: none; }
.navbar.templatemo-mobile-menu {
	position: fixed;
	top: 29px;
	right: 2px;
	z-index: 1000;
}

.thumbnail>img { width: 100%;     border-radius: 20px;}
.nav > li > a:hover { background-color: #752201; }
.nav-justified > li > a { color: white;	background: gray; }
.navbar-header h2 { letter-spacing: 2px; padding-left: 20px; }
.navbar-toggle { background-color: rgba(161, 0, 0, 0.7); border-radius: 0; }
.navbar-toggle:focus { outline: none;  }
.navbar-collapse { padding-left: 0; padding-right: 0; }
.icon-bar { background-color: #fff; }
.navbar-form { margin-left: 2px; margin-right: 2px; margin-top: 25px; }
a { color: #F867B3; }
a:hover, a:focus {	color: #B10021;	text-decoration: underline; }
a.thumbnail:hover, a.thumbnail:focus { border-color: #6F0015; }
a p { margin-top: 10px; padding: 15px;
    margin-top: -50px;
    background: #000000c7;
    position: absolute;
    width: 90%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	color: white;}
span.lock{
	    background: #fd328e;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
border-bottom-right-radius: 20px;}
iframe, object, embed {	width: 100%; border: none; margin-bottom: 20px; }

.left-inner-addon { position: relative; }
.left-inner-addon input, .left-inner-addon textarea { padding-left: 30px; }
.left-inner-addon span { position: absolute; padding: 8px 12px; }

.form-control { border-radius: 20px; }

.form-control:focus {
	border-color: rgba(163, 19, 43, 0.8);
	outline: 0;
	-moz-box-shadow: 0 0 8px rgba(241, 50, 150, 0.6);
	box-shadow: 0 0 8px rgba(241, 50, 150, 0.6) !important;
}

.container {
	margin: 0 auto;
	padding-left: 0px;
	padding-right: 0px;
	background: white;
}
.row {	margin-left: 0px; margin-right: 0px; }

footer.container { padding-right: 0px; padding-left: 0px; padding-top: 20px; }
footer { margin: 0 auto; text-align: center; color: white; }
footer a { color: #FFFFFF; }
footer a:hover { color: #FFFF00; }

.left { float: left }
.right { float: right }

.credit { padding: 10px 0px; background: #B10021; }

#other_downloads { max-width: 920px; margin: 0 auto; }
#other_downloads h3 { padding-left: 20px; padding-bottom: 10px; }

#thumbnails_container, #other_downloads { max-width: 920px; margin: 0 auto; }

.item_container { margin: 0 auto; }

#img_preview { margin-top: 30px; }
#img_preview img {
	margin: 0 auto;
 	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #F8F5F5;
	border: 1px solid #ddd;
	padding: 4px;
}

#img_preview h3 { text-align: center; }
.footer_item { margin-bottom: 15px; }

.section_box { 
	border: 1px solid #CCCCCC; 
	padding: 10px; 
	background: #F6F6F6; 
	max-width: 250px; 
	min-height: 230px;
	text-align: left; 
}

.section_box p, .section_box li { font-size: 1.3rem; line-height: 2em; }
#download_box { float: right; padding-top: 10px; }

.cleaner { clear: both }

.header{
	width: 890px;
    margin: auto;
}
select#layla {
   border:0px;
   outline:0px;
   width: 40%;
    margin: auto;
	display:block;
}
.laylaselect{
	padding:25px;
}
.comment{
	    padding: 8px 25px;
    border-radius: 25px;
    border: 2px solid #ccc;
}
.messagetab{
	padding: 50px 25px 30px 23px;
}
.smalltext{
	padding:0px 10px;
	font-size:12px;
}
.smalltext-bold{
	padding:0px 10px;
	font-size:12px;
	font-weight:bold;
}
.mesimg{
	padding:0px 10px 0px 7px;
}
.comment-row{
	padding:15px 0px;
}
.line-box{
height: 70px;
    width: 70px;
    border: 3px solid #fd328e;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #fd328e;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* mobile styles */
@media only screen and (max-width: 480px) {
	h2 { margin-bottom: 5px; }
	.navbar-form { margin-top: 0px; width: 100%; }
	.templatemo-nav { position: fixed; top: 25px; right: 3px; z-index: 1000; }
	.nav-justified > li > a { padding-left: 40px; padding-right: 40px; }
	#thumbnails_container { margin-left: 10px; margin-right: 10px; padding-left: 5px; padding-right: 5px; }	
	#thumbnails_container .col-xs-4, #thumbnails_container .col-sm-3, #thumbnails_container .col-md-3 { padding-left: 5px; padding-right: 5px; }	
	.section_box { height: auto; width: 100%; max-width: none; min-height: 1px; }
	#templatemo_footer { margin-bottom: 5px; }
	.header {
		width: 100%;
		margin: auto;
	}
	.thumbnail {width: 350px !important;}
	.search__container{
	display:none;
	}
	a p {
    width: 92%;
	}
}

/* tablet styles */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	h2 { margin-bottom: 5px; }
	.navbar-form { margin-top: 0px; width: 100%; }
	.templatemo-nav { position: fixed; top: 25px; right: 3px; z-index: 1000; }
	.nav-justified > li > a { padding-left: 40px; padding-right: 40px; }
	#thumbnails_container { margin-left: 20px; margin-right: 20px; padding-left: 5px; padding-right: 5px; }	
	#thumbnails_container .col-xs-4, #thumbnails_container .col-sm-3, #thumbnails_container .col-md-3 { padding-left: 10px; padding-right: 10px; }
	#download_box { float: left; padding-top: 10px; margin: 0 auto; }
	.preview_footer_container {	margin-top: 10px; }
	.footer_item { margin-right: 10px; }
	.footer_item:last-child { margin-right: 0px; }
	.section_box { height: auto; width: 100%; max-width: none; min-height: 1px; }
	#templatemo_footer { margin-bottom: 5px; }
	.header {
		width: 100%;
		margin: auto;
	}
	.thumbnail {width: 350px !important;}
	a p {
    width: 92%;
	}
	}

/* desktop styles */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-header h2{ margin: 0px; margin-top: 34px; }
	#thumbnails_container .col-xs-4, #thumbnails_container .col-sm-3, #thumbnails_container .col-md-3 { padding-left: 10px; padding-right: 10px; }
	.preview_footer_container {	margin-top: 30px; }
	.footer_item { margin-right: 15px; }
	.footer_item:last-child { margin-right: 0px; }
	.section_box { height: 330px; max-width: 230px; }
	.header {
    width: 100%;
    margin: auto;
}
	.thumbnail {width: 360px !important;}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header{ margin-left: 30px; }
	.navbar-header h2{ margin: 0px; margin-top: 34px; }
	#thumbnails_container .col-xs-4, #thumbnails_container .col-sm-3, #thumbnails_container .col-md-3 { padding-left: 10px; padding-right: 10px; }
	.preview_footer_container {	margin-top: 30px; }
}
@media only screen and (min-width: 1200px) {
	#thumbnails_container .col-xs-4, #thumbnails_container .col-sm-3, #thumbnails_container .col-md-3 { padding-left: 10px; padding-right: 10px; }	
	.preview_footer_container {	margin-top: 66px; }
}