@font-face {
    font-family: "BobbyJones";
    src: url("../../font/BobbyJonesSoftRegular.otf") format("opentype"); }
@font-face {
    font-family: "RalewayBold";
    src: url("../../font/Raleway-Bold.ttf") format("opentype"); }
@font-face {
    font-family: "RalewayMedium";
    src: url("../../font/Raleway-Medium.ttf") format("opentype"); }