/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #fff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    background: linear-gradient(0deg, rgba(0, 195, 255, 0.95), rgba(0, 195, 255, 0.95)), url(../img/footer.jpg);
    background-size: cover;
    background-position-y: 85%;
    @media (max-width: 575px) {
        padding-top: 30px;
    }
    .logo {
        height: 120px;
        @media (max-width: 575px) {
            height: 100px;
        }
    }
    h3 {
        font-size: 36px;
        font-weight: 700;
        color: #fff;
        position: relative;
        // font-family: "Poppins", sans-serif;
        padding: 0;
        margin: 0 0 15px 0;
    }
    p {
        font-size: 15;
        font-style: italic;
        padding: 0;
        margin: 0 0 40px 0;
    }
    .social-links a {
        font-size: 25px;
        display: inline-block;
        // background: $primary-blue;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        /* width: 36px;
        height: 36px; */
        transition: 0.3s;
    }
    .social-links a:hover {
        // background: #bd5102;
        // color: #fff;
        text-decoration: none;
    }
    .credits {
        font-size: 13px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding: 5px 0;
        }
    }
}

