/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "RalewayMedium", sans-serif;
  color: #444444;
}
.text-blue {
  color: #00c3ff !important;
}


.btn-radius{
  background: #00c3ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px !important;
}

a {
  color: #00c3ff;
}

a:hover {
  color: #fc8129;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "RalewayBold", sans-serif;
}

.no-border {
  border: 0px;
}

.btn-outline-blue {
  // font-family: "Raleway", sans-serif;
  // font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 2;
  color: #00c3ff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  /* margin-top: 6px; */
  border: 2px solid #00c3ff;
  position: relative;
  &:hover {
    background: #00c3ff;
    color: #fff;
    text-decoration: none;
  }
  i.bx.bxs-chevron-right {
    position: absolute;
    top: 21px;
    right: 15px;
  }
}

.btn-blue {
  // font-family: "Raleway", sans-serif;
  // font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 2;
  background: #00c3ff;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  /* margin-top: 6px; */
  border: 2px solid #00c3ff;
  position: relative;
  &:hover {
    background-color: white;
    color: #00c3ff;
    text-decoration: none;
  }
  i.bx.bxs-chevron-right {
    position: absolute;
    top: 21px;
    right: 15px;
  }
}

.btn-outline-white {
  // font-family: "Raleway", sans-serif;
  // font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 2;
  color: white;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid white;
  position: relative;
  &:hover {
    background: white;
    color: #00c3ff;
    text-decoration: none;
  }
  i.bx.bxs-chevron-right {
    position: absolute;
    top: 21px;
    right: 15px;
  }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #00c3ff;
    color: #fff;
    transition: all 0.4s;
    border: solid 2px white;
  }
  i:hover {
    background: #fc7c1f;
    color: #fff;
  }
}

select, input[type="text"]:not(.search input), input[type="password"], input[type="email"], input[type="number"]   {
  height: 50px !important;
}
.form-group {
  padding-bottom: 8px;
}

.validate, .validate1, .validate2, .validate3 {
  display: none;
  color: red;
  font-weight: 400;
  font-size: 13px;
  position: absolute; 
}

.table-custom {
  background: #fafafa;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  td:first-child { min-width: 200px };     
  td:last-child { font-family: 'RalewayBold'; };     
  @media (max-width: 575px) {
    td:first-child { min-width: 140px };     
  }
}

label span.text-danger {
  font-size: large;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-outline {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.notification {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  font-size: small;
}

.bg-blue {
  background: $primary-blue;
}
// srollbar
::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 2px rgba(255, 72, 0, 0.3);
	// background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #c9c9c9;
	border: 2px solid #c9c9c9;
  border-radius: 10px;
}

@media (max-width: 575px) {
  .text-sm-right { text-align: right };  
}