@import  './helper/font.css';
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(42, 44, 57, 0.9);
  .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  &.header-transparent {
    background: white;
  }
  &.header-scrolled {
    background: white;
    // box-shadow: 0 2px 29px 0 rgb(68 88 144 / 12%);
    box-shadow: 0 2px 29px 0;
  }
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, #2a2c39 0%, #33364a 100%);
  padding: 0;
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    min-height: 80vh;
    padding-top: 70px;
    background: #f7f8fa;
  }
  h1, h2 {
    font-family: 'BobbyJones';
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
    font-size: larger;
  }
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #00c3ff;
}

#hero .btn-get-started:hover {
  background: #00c3ff;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

// search
#heroCarousel .search {
  width: 50%;
  height: 65px;
  .input-group-text {
    padding: 20px;
  }
  .form-control {
    height: 65px;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.call-us  {
  font-family: 'RalewayMedium';
  padding: 15px 40px;
  &:hover {
    background-color: $primary-blue;
    color: white;
  }
  .icofont-phone {
    background: white;
    border-radius: 50%;
    padding: 17px;
    position: absolute;
    top: -3px;
    left: -15px;
  }
}

@media (max-width: 768px) {
  #hero .carousel-container {
    height: 100%;
  }
  #hero h2, #hero h1 {
    font-size: 28px;
  }
  #heroCarousel .search {
    height: 55px;
    width: 75%;
  }
  #hero .carousel-container {
    padding-top: 50px;
  }
}
@media (max-width: 575px) {
  #hero p {
    font-size: medium;
  }
  #heroCarousel .search {
    width: 90%;
    height: 45px;
    .form-control, .input-group-text {
      font-size: small;
    }
    .input-group-text {
      padding: 10px;
    }
    .form-control {
      height: 45px;
    }
  }
  #header .logo h1 {
    font-size: 24px;
  }
}
.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 70px;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #333333;
  padding: 5px 15px 7px 15px;
  margin-left: 1px;
  transition: 0.3s;
  font-size: 14px;
  // font-family: "Open Sans", sans-serif;
  padding: 22px 30px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  // background: $primary-blue;
  text-decoration: none;
  color: $primary-blue;
  font-weight: normal;
  padding: 22px 30px;
}

.nav-menu a:hover, .nav-menu .active-always > a, .nav-menu li:hover > a {
  background: $primary-blue;
  text-decoration: none;
  color: white;
  padding: 22px 30px;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
  border-radius: 15px;
  margin-top: 5px;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #2a2c39;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: $primary-blue;
  background: none;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  i {
    color: $primary-blue;
  }
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  a {
    display: block;
    position: relative;
    color: #2a2c39;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: $primary-blue;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(20, 21, 28, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
  .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  .mobile-nav-toggle i {
    color: #fff;
  }
}
