/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@import url(./helper/font.css);
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important; } }
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "RalewayMedium", sans-serif;
  color: #444444; }

.text-blue {
  color: #00c3ff !important; }

.btn-radius {
  background: #00c3ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px !important; }

a {
  color: #00c3ff; }

a:hover {
  color: #fc8129;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "RalewayBold", sans-serif; }

.no-border {
  border: 0px; }

.btn-outline-blue {
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 2;
  color: #00c3ff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  /* margin-top: 6px; */
  border: 2px solid #00c3ff;
  position: relative; }
  .btn-outline-blue:hover {
    background: #00c3ff;
    color: #fff;
    text-decoration: none; }
  .btn-outline-blue i.bx.bxs-chevron-right {
    position: absolute;
    top: 21px;
    right: 15px; }

.btn-blue {
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 2;
  background: #00c3ff;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  /* margin-top: 6px; */
  border: 2px solid #00c3ff;
  position: relative; }
  .btn-blue:hover {
    background-color: white;
    color: #00c3ff;
    text-decoration: none; }
  .btn-blue i.bx.bxs-chevron-right {
    position: absolute;
    top: 21px;
    right: 15px; }

.btn-outline-white {
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 2;
  color: white;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid white;
  position: relative; }
  .btn-outline-white:hover {
    background: white;
    color: #00c3ff;
    text-decoration: none; }
  .btn-outline-white i.bx.bxs-chevron-right {
    position: absolute;
    top: 21px;
    right: 15px; }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999; }
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #00c3ff;
    color: #fff;
    transition: all 0.4s;
    border: solid 2px white; }
  .back-to-top i:hover {
    background: #fc7c1f;
    color: #fff; }

select, input[type="text"]:not(.search input), input[type="password"], input[type="email"], input[type="number"] {
  height: 50px !important; }

.form-group {
  padding-bottom: 8px; }

.validate, .validate1, .validate2, .validate3 {
  display: none;
  color: red;
  font-weight: 400;
  font-size: 13px;
  position: absolute; }

.table-custom {
  background: #fafafa;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6; }
  .table-custom td:first-child {
    min-width: 200px; }
  .table-custom td:last-child {
    font-family: 'RalewayBold'; }
  @media (max-width: 575px) {
    .table-custom td:first-child {
      min-width: 140px; } }

label span.text-danger {
  font-size: large; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.no-outline {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.notification {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  font-size: small; }

.bg-blue {
  background: #00c3ff; }

::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border: 2px solid #c9c9c9;
  border-radius: 10px; }

@media (max-width: 575px) {
  .text-sm-right {
    text-align: right; } }
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(42, 44, 57, 0.9); }
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px; }
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px; }
  #header.header-transparent {
    background: white; }
  #header.header-scrolled {
    background: white;
    box-shadow: 0 2px 29px 0; }

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none; }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, #2a2c39 0%, #33364a 100%);
  padding: 0; }
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    min-height: 80vh;
    padding-top: 70px;
    background: #f7f8fa; }
  #hero h1, #hero h2 {
    font-family: 'BobbyJones';
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px; }
  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
    font-size: larger; }

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%; }

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto; }

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #00c3ff; }

#hero .btn-get-started:hover {
  background: #00c3ff;
  color: #fff;
  text-decoration: none; }

@media (min-width: 1024px) {
  #hero p {
    width: 60%; }

  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%; } }
#heroCarousel .search {
  width: 50%;
  height: 65px; }
  #heroCarousel .search .input-group-text {
    padding: 20px; }
  #heroCarousel .search .form-control {
    height: 65px;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }

.call-us {
  font-family: 'RalewayMedium';
  padding: 15px 40px; }
  .call-us:hover {
    background-color: #00c3ff;
    color: white; }
  .call-us .icofont-phone {
    background: white;
    border-radius: 50%;
    padding: 17px;
    position: absolute;
    top: -3px;
    left: -15px; }

@media (max-width: 768px) {
  #hero .carousel-container {
    height: 100%; }

  #hero h2, #hero h1 {
    font-size: 28px; }

  #heroCarousel .search {
    height: 55px;
    width: 75%; }

  #hero .carousel-container {
    padding-top: 50px; } }
@media (max-width: 575px) {
  #hero p {
    font-size: medium; }

  #heroCarousel .search {
    width: 90%;
    height: 45px; }
    #heroCarousel .search .form-control, #heroCarousel .search .input-group-text {
      font-size: small; }
    #heroCarousel .search .input-group-text {
      padding: 10px; }
    #heroCarousel .search .form-control {
      height: 45px; }

  #header .logo h1 {
    font-size: 24px; } }
.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative; }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 70px; }

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left; }

.nav-menu a {
  display: block;
  position: relative;
  color: #333333;
  padding: 5px 15px 7px 15px;
  margin-left: 1px;
  transition: 0.3s;
  font-size: 14px;
  padding: 22px 30px; }

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  text-decoration: none;
  color: #00c3ff;
  /*font-weight: bold;*/
  padding: 22px 30px; }

.nav-menu a:hover, .nav-menu .active-always > a, .nav-menu li:hover > a {
  background: #00c3ff;
  text-decoration: none;
  color: white;
  padding: 22px 30px; }

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
  border-radius: 15px;
  margin-top: 5px; }

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible; }

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative; }

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #2a2c39; }

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #00c3ff;
  background: none; }

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px; }

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px); }

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%; }

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px; }

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px; }

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%; }

  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%; }

  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d"; } }
/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right; }
  .mobile-nav-toggle i {
    color: #00c3ff; }

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0; }
  .mobile-nav a {
    display: block;
    position: relative;
    color: #2a2c39;
    padding: 10px 20px;
    font-weight: 500;
    outline: none; }

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none; }

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #00c3ff;
  text-decoration: none; }

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px; }

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1"; }

.mobile-nav .drop-down > a {
  padding-right: 35px; }

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden; }

.mobile-nav .drop-down li {
  padding-left: 20px; }

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(20, 21, 28, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s; }

.mobile-nav-active {
  overflow: hidden; }
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible; }
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
  background: linear-gradient(0deg, rgba(0, 195, 255, 0.95), rgba(0, 195, 255, 0.95)), url(../img/footer.jpg);
  background-size: cover;
  background-position-y: 85%; }
  @media (max-width: 575px) {
    #footer {
      padding-top: 30px; } }
  #footer .logo {
    height: 120px; }
    @media (max-width: 575px) {
      #footer .logo {
        height: 100px; } }
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0; }
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0; }
  #footer .social-links a {
    font-size: 25px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    /* width: 36px;
    height: 36px; */
    transition: 0.3s; }
  #footer .social-links a:hover {
    text-decoration: none; }
  #footer .credits {
    font-size: 13px; }
  #footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #footer ul li {
      padding: 5px 0; }

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px; }
.about .content ul {
  list-style: none;
  padding: 0; }
  .about .content ul li {
    padding-left: 28px;
    position: relative; }
  .about .content ul i {
    position: absolute;
    left: 0;
    top: -2px;
    font-size: 16px;
    color: #00c3ff;
    line-height: 1; }

.about .content ul li + li {
  margin-top: 10px; }

.about .content p:last-child {
  margin-bottom: 0; }

.about .quote-icon-left, .about .quote-icon-right {
  color: #00c3ff;
  font-size: 26px; }

.direct a.btn-outline-blue {
  position: absolute;
  bottom: 10%; }
.direct img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (max-width: 1200px) {
  .direct a.btn-outline-blue {
    position: relative !important;
    bottom: 0; } }
.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 20px 0;
  background-color: white; }
  .comparison-slider-wrapper .comparison-slider {
    position: relative;
    width: 100%;
    margin: 0;
    border: 5px white solid;
    box-sizing: border-box; }
    .comparison-slider-wrapper .comparison-slider img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
    .comparison-slider-wrapper .comparison-slider .overlay {
      position: absolute;
      width: 130px;
      bottom: 20px;
      right: 20px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 10px;
      box-sizing: border-box;
      color: #DDD;
      border-radius: 25px; }
      @media (max-width: 992px) {
        .comparison-slider-wrapper .comparison-slider .overlay {
          padding: 5px;
          font-size: 15px;
          width: 100px; } }
      @media (max-width: 575px) {
        .comparison-slider-wrapper .comparison-slider .overlay {
          padding: 3px;
          font-size: 10px;
          width: 80px;
          bottom: 10px; } }
    .comparison-slider-wrapper .comparison-slider .resize {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      overflow: hidden; }
      .comparison-slider-wrapper .comparison-slider .resize > img {
        display: block; }
      .comparison-slider-wrapper .comparison-slider .resize .overlay {
        right: auto;
        left: 20px;
        text-align: center; }
    .comparison-slider-wrapper .comparison-slider .divider {
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      left: 50%;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      cursor: ew-resize; }
      .comparison-slider-wrapper .comparison-slider .divider:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        left: -19px;
        top: 50%;
        margin-top: -10px;
        background-color: white;
        transform: rotate(45deg);
        transition: all 0.1s ease-in-out;
        border-radius: 50%; }
      .comparison-slider-wrapper .comparison-slider .divider:after {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        left: -15px;
        top: 50%;
        margin-top: -6px;
        background-color: white;
        transform: rotate(45deg);
        transition: all 0.1s ease-in-out;
        border-radius: 50%; }
      .comparison-slider-wrapper .comparison-slider .divider.draggable:before {
        width: 40px;
        height: 40px;
        left: -19px;
        margin-top: -10px; }
      .comparison-slider-wrapper .comparison-slider .divider.draggable:after {
        width: 30px;
        height: 30px;
        left: -14px;
        margin-top: -5px;
        background-color: #555; }
      .comparison-slider-wrapper .comparison-slider .divider .handle {
        width: 40px;
        height: 40px;
        background: white;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 10px);
        z-index: 2;
        left: -19px; }
        .comparison-slider-wrapper .comparison-slider .divider .handle:before {
          content: "";
          border: 6px inset transparent;
          position: absolute;
          top: 51%;
          margin-top: -6px;
          border-right: 6px solid #4c4c4c;
          /* left: 50%; */
          margin-left: -19px; }
        .comparison-slider-wrapper .comparison-slider .divider .handle:after {
          content: "";
          border: 6px inset transparent;
          position: absolute;
          top: 51%;
          margin-top: -6px;
          border-left: 6px solid #4c4c4c;
          margin-left: 6px; }

.masonry {
  /* Masonry container */
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em; }

.masonry .item {
  display: inline-block;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

@media only screen and (max-width: 575px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; } }
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; } }
@media only screen and (min-width: 1201px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; } }
.why-us {
  background: linear-gradient(0deg, rgba(0, 195, 255, 0.95), rgba(0, 195, 255, 0.95)), url(../img/whyus.jpg);
  background-size: cover;
  background-position-y: 20%; }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff; }
  .contact .info i {
    font-size: 20px;
    color: #00c3ff;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out; }
  .contact .info h6 {
    padding: 0 0 0 60px;
    font-weight: 600;
    color: #4d4d4d;
    font-weight: bold; }
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #555974; }

.contact .info .email, .contact .info .phone {
  margin-top: 40px; }

.contact .php-email-form {
  width: 100%;
  background: #fff; }
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600; }
  .contact .php-email-form textarea {
    padding: 10px 12px; }
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600; }
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px; }
  .contact .php-email-form input {
    height: 44px; }

.contact .php-email-form .error-message br + br {
  margin-top: 25px; }

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite; }

.contact .php-email-form input, .contact .php-email-form textarea {
  box-shadow: none;
  font-size: 14px; }

.mission ul li i {
  font-size: 8px !important;
  top: 8px !important; }

.our-team {
  flex-wrap: wrap; }
  .our-team .team-item {
    margin: 10px 25px; }
    .our-team .team-item > img {
      width: 150px;
      height: 150px;
      object-fit: cover; }
  .our-team .info {
    margin: 25px auto 10px; }

/* Set the size of the div element that contains the map */
#map {
  height: 500px;
  width: 100%; }

.circle-step {
  width: 67px;
  line-height: 61px;
  border-radius: 50%;
  text-align: center;
  font-size: 51px;
  padding-bottom: 6px;
  background: linear-gradient(to bottom, #007ae9 0%, #00c3ff 100%);
  color: white;
  font-weight: bolder; }

.img-step img {
  right: 0;
  max-width: 200px;
  top: -50%; }

.profit img {
  width: 80%;
  height: 50%;
  object-fit: contain;
  margin-bottom: 10px; }

.provide img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px; }

.provide .step {
  border-radius: 30px;
  bottom: -10px;
  right: 35%;
  border: solid 4px white; }

/*--------------------------------------------------------------
  # Testimonials
  --------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 280px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.02);
  background: #fafbfc;
  position: relative; }

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto; }

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111; }

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0; }

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #00c3ff;
  font-size: 26px; }

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative; }

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px; }

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto; }

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center; }

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important; }

.testimonials .owl-dot.active {
  background-color: #00c3ff !important; }

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px; } }

/*# sourceMappingURL=styles.css.map */
