span.help-block {
    position: absolute;
    bottom: -25px;
    font-size: smaller;
}
.remove-single-image {
    background: #22a7f0;
    color: white;
    width: 20px;
    padding: 0px 2px;
    color: antiquewhite;
    font-size: 15px;
}