.mission {
    ul li i {
        font-size: 8px !important;
        top: 8px !important;
    }
}
.our-team {
    flex-wrap: wrap;
    .team-item {
        margin: 10px 25px;
        > img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
    .info {
        margin: 25px auto 10px;
    }
}