.circle-step {
    width: 67px;
    line-height: 61px;
    border-radius: 50%;
    text-align: center;
    font-size: 51px;
    padding-bottom: 6px;
    background: linear-gradient(to bottom, #007ae9 0%, #00c3ff 100%);
    color: white;
    font-weight: bolder;
}

.img-step img {
    right: 0;
    // bottom: 0;
    max-width: 200px;
    top: -50%;
}

.profit img {
    width: 80%;
    height: 50%;
    object-fit: contain;
    margin-bottom: 10px;
}

.provide img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.provide .step {
    border-radius: 30px;
    bottom: -10px;
    right: 35%;
    border: solid 4px white;
}